/*  your css code here. If applicable */
body {
	width: 100vw;
	background-color: #f5f5f5;
}
.header {
	background-color: #011e29;
	color: white;
	text-align: center;
	padding: 0.5rem;
}

main {
	
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: flex-start;
}

.latest-news-section {
	background-color: white;
	padding: 10px;
	width: 100px;
}
.pictorial-news-section {}